/*Title Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Paytone+One&display=swap');

/*Bar Code */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

/* Font sans fond */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Rubik+Doodle+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



html{
    background-color: rgb(240, 240, 240);
}

h1 {
    font-family: "Paytone One", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

.emptyFont{
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
}

.barCode{
    font-family: "Libre Barcode 39", system-ui;
    font-weight: 400;
}

.dot {
    height: 23px;
    width: 23px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE5B00;
    margin-right: 5.9rem;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera*/
}

.svgFilter{
    filter: brightness(0) saturate(100%) invert(44%) sepia(56%) saturate(5034%) hue-rotate(2deg) brightness(103%) contrast(104%);
}

.Pattern{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('./assets/pattern4.jpg');
}



.Pattern6{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('./assets/pattern6.jpg');
    background-position: right;
}

.circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
  
    &--outer {
      width: 100px;
      height: 100px;
      border: 1px solid var(--color-text);
      z-index: 12000;
      background: var(--color-text);
      box-shadow: 0 0 100px 100px var(--color-text);
      opacity: 1;
      mix-blend-mode: overlay;
    }
  
    &--inner {
      width: 5px;
      height: 5px;
      left: -2.5px;
      top: -2.5px;
      z-index: 11000;
      background: var(--color-text);
    }
}


.animation{
  animation: 2s slide-right;
}
@keyframes logo-animate {
    0%   { opacity: 1; }
    25%   { opacity: 0.1; }
    50%   { opacity: 1; }
    100% { opacity: 1; }
  }

@keyframes slide-right {
  from {
      margin-right: 30%;
  }
  to{
      margin-left: 0%;
  }
}

.a {
    -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 1.4s;
    color: white;
  }
  .c {
    -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 1.5s;
    color: white;

  }
  .c2 {
    -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 1.6s;
    color: white;
  }
  .e {
    -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 4s infinite;
    animation-delay: 1.7s;
    color: white;
  }
  .s {
    -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 1.9s;
    color: white;
  }
  .e2 {
      -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 2s;
    color: white;
  }
  .n {
      -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 2.1s;
    color: white;
  }
  .c3 {
      -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 2.2s;
    color: white;
  }
  .o {
      -webkit-animation: logo-animate 2s infinite;
    animation:         logo-animate 2s infinite;
    animation-delay: 2.3s;
    color: white;
  }
  .u {
    -webkit-animation: logo-animate 2s infinite;
  animation:         logo-animate 2s infinite;
  animation-delay: 2.3s;
  color: white;
}
  .r {
    -webkit-animation: logo-animate 2s infinite;
  animation:         logo-animate 2s infinite;
  animation-delay: 2.3s;
  color: white;
}
.s2 {
    -webkit-animation: logo-animate 2s infinite;
  animation:         logo-animate 2s infinite;
  animation-delay: 2.3s;
  color: white;
}